.App {
    margin: 0 auto;
    max-width: 1024px;
    min-width: 600px;
    height: 100vh;
    display: grid;
    grid-template-areas: "header header" "nav content" "footer footer";
    grid-template-rows: 1fr 15fr 1fr;
    grid-template-columns: 1fr 5fr;
    /* grid-gap: 5px; */
    background: antiquewhite;
}